<a href="https://colab.research.google.com/github/Joykareko/Data-Science-Projects/blob/main/Analysis_of_Netflix_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv('/content/NetflixViewingHistory.csv') #index_col = 'Title')

In [54]:
print(df.shape)

(1972, 2)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1972 entries, 0 to 1971
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   1972 non-null   object
 1   Date    1972 non-null   object
dtypes: object(2)
memory usage: 30.9+ KB

In [56]:
df.head()

                                               Title     Date
0         Russian Doll: Season 2: Station to Station   5/4/22
1                Russian Doll: Season 2: Brain Drain   5/3/22
2          Russian Doll: Season 2: Coney Island Baby  4/26/22
3                     Russian Doll: Season 2: Nowhen  4/26/22
4  Eternally Confused and Eager for Love: Season ...  4/10/22

In [57]:
df['Title'].str.contains('Designated Survivor').sum()

10

In [66]:
df[df['Title'].str.contains('Bridgerton')]

                                                Title     Date
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21