<a href="https://colab.research.google.com/github/Joykareko/Data-Science-Projects/blob/main/Diabetes_Prediction_ML_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [3]:
diabetes_data = pd.read_csv('/diabetes.csv')
diabetes_data.head(3)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1

[3 rows x 9 columns]

In [5]:
diabetes_data.shape

(768, 9)

In [6]:
#no null values
diabetes_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
#statistical analysis
diabetes_data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [8]:
#diabetes cases(1) and non cases(0)
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [9]:
diabetes_data.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [10]:
#separating data and outcome
X = diabetes_data.drop(columns='Outcome', axis = 1)
Y = diabetes_data['Outcome']

In [11]:
print(X.shape,Y.shape)

(768, 8) (768,)

Standardizing the data

In [12]:
scaler = StandardScaler()

In [13]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
standardized_data = scaler.transform(X)

In [18]:
X = standardized_data
Y = diabetes_data['Outcome']
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [17]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, stratify = Y , random_state=2)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(614, 8) (154, 8) (614,) (154,)

In [19]:
#training the model
classifier = svm.SVC(kernel='linear')

In [20]:
classifier.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
Pred1_train_data = classifier.predict(X_train)
training_accuracy_score = accuracy_score(Pred1_train_data,Y_train)
print('Accuracy score on training data: ',training_accuracy_score)

Accuracy score on training data:  0.7866449511400652

In [24]:
pred2_test_data = classifier.predict(X_test)
testing_accuracy_score = accuracy_score(pred2_test_data,Y_test)
print('Accuracy score on testing data: ',testing_accuracy_score)

Accuracy score on testing data:  0.7727272727272727

Making a Prediction System

In [30]:
input_data = (4,110,92,0,0,37.6,0.191,30)
#changing the data as a numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshaping the array to perdict for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
#standardizing the data like before
std_data = scaler.transform(input_data_reshaped)
print(std_data)


#making a prediction
prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('Person is non_diabetic')
else:
   print('Person is diabetic')

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
Person is non_diabetic

In [31]:
#making another prediction.
input_data = (5,166,72,19,175,25.8,0.587,51)
#changing the data as a numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshaping the array to perdict for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
#standardizing the data like before
std_data = scaler.transform(input_data_reshaped)
print(std_data)


#making a prediction
prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('Person is non_diabetic')
else:
   print('Person is diabetic')

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
Person is diabetic