<a href="https://colab.research.google.com/github/Joykareko/Data-Science-Projects/blob/main/Heart_Disease_Prediction_ML_Project_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
#loading the data
heart_dataset = pd.read_csv('/content/heart.csv')

In [3]:
#viewing the dataset
heart_dataset.shape

(303, 14)

In [4]:
heart_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
heart_dataset.head(3)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1

[3 rows x 14 columns]

In [6]:
#missing values?
heart_dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
heart_dataset.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [8]:
#checking the target value
#1--> defective heart 0---> healthy heart
heart_dataset['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [10]:
#splitting the features and target columns
X = heart_dataset.drop(columns = 'target', axis = 1)
Y = heart_dataset['target']
print(X.shape, Y.shape)

(303, 13) (303,)

In [11]:
#splitting into training and testing
X_train, X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.2 , stratify = Y , random_state = 2)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(242, 13) (61, 13) (242,) (61,)

In [12]:
model = LogisticRegression()
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
#making the first prediction
training_pred = model.predict(X_train)

#accuracy
score_1 = accuracy_score(Y_train,training_pred)
print('Accuracy Score:',score_1)

Accuracy Score: 0.8512396694214877

In [15]:
#testing data
testing_pred = model.predict(X_test)

#accuracy
score_2 = accuracy_score(Y_test,testing_pred)
print('Accuracy Score:',score_2)

Accuracy Score: 0.819672131147541

In [19]:
#Building a predictive system
input_data = [63,	1,	3,	145,	233,	1,	0,	150,	0,	2.3,	0,	0	,1]
#converting to an array
input_data_array = np.asarray(input_data)
#reshaping
input_data_array_reshaped = input_data_array.reshape(1,-1)

#prediction
prediction = model.predict(input_data_array_reshaped)

if (prediction[0]==0):
  print(prediction,'Heart is okay')
else:
  print(prediction,'Heart is defective')

[1] Heart is defective