<a href="https://colab.research.google.com/github/Joykareko/Data-Science-Projects/blob/main/SQL_and_Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL Questions**

## Qn.1 Given a theoretical “Employees” table, write a query to show only row 4 through row 7.



```
SELECT * 
FROM Employees
ORDER BY Salary
LIMIT 4
OFFSET 3;
```

## Qn.2 Given a theoretical “Stock” table that has the columns “name” and “price”, write a query to display the min and max price in the same table including the name.


```
SELECT *
FROM 

(SELECT name, max(price) AS max_price
	FROM Stock) t,

  (SELECT name, min(price) AS min_price
  FROM Stock) k
```

## Qn.3 In the same “Stock” table from #2, how would you query the third-highest price in the Table.



```
SELECT Price 
FROM Stock 
ORDER BY Price DESC 
LIMIT 2, 1
```

## Qn.4 In a “Users” table there are the columns “name” and “email”. Write a query to find duplicates that have the same email.



```
 SELECT email, COUNT(*)
  FROM Users 
  GROUP BY email
  HAVING count(*) > 1 
```

## Qn.5 In the same table from #4, write a query to find duplicates that have all the same fields(assume there are more than just name and email)



```
SELECT *
FROM (

SELECT Name,Email,Count(*) email_cnt
FROM Users
GROUP BY Email
HAVING Count(*)>1 )b,

(

SELECT Name, Salary,Count(*) sal_cnt
FROM Users
GROUP BY Salary
HAVING Count(*)>1 ) a

```

## Qn.6 Succinctly explain the difference between a subquery and a correlated subquery.

*Correlated Subquery is a subquery that uses values from the outer query. In this case, the inner query has to be executed for every row of the outer query.*
*The simple subquery doesn't use values from the outer query and is being calculated only once.*

## Qn.7 Provide an example of a correlated subquery. Describe the simple table and what data you are trying to find via the correlated subquery. Include what makes it a correlated subquery and why it is better to use than a subquery to get the information you want.



```
SELECT employee_number, name
       FROM employees emp
       WHERE salary > (
         SELECT AVG(salary)
           FROM employees
           WHERE department = emp.department);
```


>
*Its useful when comparing rows by rows to return different results.*

## Qn.8 Using the below table description, write a query to find all the employees who have a higher salary than the Vice President (the Vice President’s job_id is VP)



```
SELECT *
FROM Employees
WHERE Salary>1000
```

## Qn.9 In the below table, how would you query to find all the customers from the same country?



```
SELECT Name,Country
  FROM Customers 
  WHERE Country = "Kenya"
```

## Qn.10	What is the difference between WHERE and HAVING clauses in a query? Provide an example of each use.

*In SQL, the HAVING and WHERE clauses are both used to impose a condition. However, HAVING is used to filter out results from aggregated data, whereas WHERE is used to add conditions to individual rows.*



```
#HAVING
SELECT Cust_ID, 
SUM(Price) AS Total 
FROM order_details
GROUP BY Cust_ID
HAVING Total > 13
```


```
#WHERE
SELECT Fname, Lname 
FROM customer_details
WHERE Age < 40;
```

# **Python/CompSci Questions.**

## Qn.1	How are lists and string similar?

Both are ordered collections of characters.

## Qn.2	What is a lambda function in Python and when would you use one?

We use the lambda keyword to declare an anonymous function, which is why we refer to them as "Lambda functions". An anonymous function refers to a function declared with no name.

They are used whenever a user needs to use the function just once.

## Qn.3	Rewrite the below for loop as a list comprehension.


```
L=[]
for client in abc_financial_clients:
L.append(client)

print(L)
```


```
L=[client for client in abc_financial_clients]
print(L)

```

## Qn.4	Write a function that will take two parameters: a list of integers and a number. The function must return the indices of the two integers in the list that when added together produce the number passed. If none are found return an empty list.

In [ ]:
lst=[]
def my_function(lst,n):
  
  for i in lst:
    for j in lst:
      if i+j==n:
        print(lst[i],lst[j],n)
  
my_function([0,1,2,3,4,5],5)

0 5 5
1 4 5
2 3 5
3 2 5
4 1 5
5 0 5

## Qn.5 Write a function to return the nth number in the Fibonacci sequence. Make sure it can find the 1000th number in a reasonable amount of time.

In [ ]:
def fibonacci (n):
   if n<= 0:
     return "Incorrect Output"
   data = [0, 1]
   if n > 2:
        for i in range (2, n):
            data.append(data[i-1] + data[i-2])
        return data[n-1]
 
# printing 1000th Fibonacci number
 
print(fibonacci(1000))

26863810024485359386146727202142923967616609318986952340123175997617981700247881689338369654483356564191827856161443356312976673642210350324634850410377680367334151172899169723197082763985615764450078474174626

## Qn.6	Given a list of indeterminate length, sort the list from smallest to largest. Do not use python’s sort function.

In [ ]:
l = [64, 25, 12, 22, 11, 1,2,44,3,122, 23, 34]

for i in range(len(l)):
    for j in range(i + 1, len(l)):

        if l[i] > l[j]:
           l[i], l[j] = l[j], l[i]

print (l)

[1, 2, 3, 11, 12, 22, 23, 25, 34, 44, 64, 122]

## Qn.7	Given the following two lists, concatenate them together so the output is as demonstrated below.

In [ ]:
l1=['Morgan Stanley', 'Bank of America', 'Goldman Sachs', 'BlackRock', 'JP Morgan Chase']
l2=[' MS', ' BAC', ' GS', ' BLK', ' JPM']

res = [i + j for i, j in zip(l1, l2)]
print ("The list after element concatenation is : " +  str(res))

The list after element concatenation is : ['Morgan Stanley MS', 'Bank of America BAC', 'Goldman Sachs GS', 'BlackRock BLK', 'JP Morgan Chase JPM']

## Qn.8 Describe the differences among the following data types in Python: list, tuple, dict,OrderedDict, and namedtuple.


> *A list is a data structure that is used to store different data types. Its mutable(can be changed) and are ordered(appears in sorted arrangement)and allows duplicates. List elements are accessible through indexes*

> A tuple is a data structure like a list, but its elements are **immutable**(cannot be added,removed or changed) and also allow duplicates.Tuples are also accessed by indexing.

> A dictionary stores data in key,value pairs and is ordered, is mutable but does **not** allow duplicates.

> An Ordered Dictionary is a dictionary subclass that remembers the order that keys were first inserted.

> A named tuple is like a dictionary.Like dictionaries, they contain keys that are hashed to a particular value. But on contrary, it supports both access from key-value and iteration, the functionality that dictionaries lack.

## Qn.9 Create a class that implements a working stack data structure.

In [ ]:
class Stack:
     def __init__(self):
         self.items = []

     def isEmpty(self):
         return self.items == []

     def push(self, item):
         self.items.append(item)

     def pop(self):
         return self.items.pop()

     def peek(self):
         return self.items[len(self.items)-1]

     def size(self):
         return len(self.items)

## Qn.10 Create a class that implements a working queue data structure.

In [ ]:
class Queue:
    def __init__(self):
        self.items = []

    def isEmpty(self):
        return self.items == []

    def enqueue(self, item):
        self.items.insert(0,item)

    def dequeue(self):
        return self.items.pop()

    def size(self):
        return len(self.items)


q = Queue()
q.enqueue('Just')
q.enqueue('Enchant')
q.enqueue('Dog')
q.dequeue()

'Just'

## Qn.11	Create a class that implements a working deque data structure.

In [ ]:
class Deque:
    def __init__(self):
        self.items = []

    def isEmpty(self):
        return self.items == []

    def addFront(self, item):
        self.items.append(item)

    def addRear(self, item):
        self.items.insert(0,item)

    def removeFront(self):
        return self.items.pop()

    def removeRear(self):
        return self.items.pop(0)

    def size(self):
        return len(self.items)