<a href="https://colab.research.google.com/github/Joykareko/Data-Science-Projects/blob/main/Stock_Market_Prediction_and_Forecasting_using_LSTM_ML_Project_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using Long Short Term Memory Model (LSTM) to forecast stock prices

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
stock_data = pd.read_csv('/content/NSE-TATAGLOBAL.csv')
stock_data.head(3)

         Date    Open    High  ...   Close  Total Trade Quantity  Turnover (Lacs)
0  2018-09-28  234.05  235.95  ...  233.75               3069914          7162.35
1  2018-09-27  234.55  236.80  ...  233.25               5082859         11859.95
2  2018-09-26  240.00  240.00  ...  234.25               2240909          5248.60

[3 rows x 8 columns]

In [6]:
#training dataset
#training_set = stock_data.iloc[:, 1:2].values
#training_set.head(3)

AttributeError: ignored